@import 'reset';
@import '_font';
@import '_var';
html {
	font-size: 10px;
}
body {
	font-family: $main_font;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	background-color: $bg_color;
}
button {
	font-family: $main_font;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $main_font;
	font-weight: normal;
	font-style: normal;
}
header {
	padding: 3rem;
	background: #F9F9F9;
}
.logo__img {
	max-width: 100%;
	height: auto;
}
.contacts {
	font-size: 2rem;
	line-height: 2.8rem;
	& a {
		color: $font_color;
	}
}
.socials {
	a + a {
		margin-left: 3rem;
	}
}

.video {
	position: relative;
	width: 405px;
    height: 0;
    padding-bottom: 75%;
	z-index: 1;
	cursor: pointer;
}
.video__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5px;
}
.video__button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 68px;
	height: 48px;
	border: none;
	background: transparent;
	transform: translate(-50%, -50%);
	display: none;
}
.video--enabled .video__button {
	display: block;
}
.video__button:focus {
	outline: none;
}
.video__button-shape {
	fill: #000;
	fill-opacity: 0.7;
}
.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}
.main {
	margin-bottom: 50px;
	overflow: hidden;
}
.main__left-screen {
	padding: 6rem 0;
}
.main__image {
	position: absolute;
	top: 0;
	transform: translate(25% , 0);
	img {
		min-width: 100%;
		min-height: 100%;
	}
}
.main__title {
	margin-bottom: 6rem;
	font-weight: bold;
	font-size: 4.8rem;
	line-height: 1;
	color: $title_color;
}
.main__subtitle {
	margin-bottom: 10rem;
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.2;
	color: $title_color;
}
.buttons {
	display: flex;
}
.order {
	margin-right: 3rem;
	padding: 1.5rem 3rem;
	text-align: center;
	font-size: 2rem;
	line-height: 2.8rem;
	color: #FFFFFF;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(90deg, #EB4778 0.42%, #335ECC 100%);
	border-radius: 5px;
	transition: .2s ease;
}
.order:hover {
	transform: translateY(-5%);
	box-shadow: 0 0 35px -10px #5D5EBD;
}
.view {
	padding: 1.5rem 3rem;
	text-align: center;
	font-size: 2rem;
	line-height: 2.8rem;
	color: $title_color;
	background: transparent;
	box-shadow: inset 0 0 0 3px #5D5EBD;
	border-radius: 5px;
	transition: .2s ease;
}
.view:hover {
	transform: translateY(-5%);
	box-shadow: 0 0 35px -10px #5D5EBD, inset 0 0 0 3px #5D5EBD;
}
.cards {
	margin-bottom: 50px;
}
.card {
	border: none;
	padding: 2rem;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
	border-radius: 5px;
	min-height: 225px;
	margin-bottom: 3rem;
	transition: box-shadow 0.5s ease;
}
.card:hover,
.card:focus {
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
}
.card__text {
	font-size: 3.2rem;
	line-height: 1.5;
	text-align: center;
	letter-spacing: -0.05em;
	color: #262626;
}
.card__img {
	margin: auto auto 0;
}
.plan {
	margin-bottom: 40px;
}
.plan-card {
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
}
.plan-card__image {
	img {
		width: 100%;
		height: auto;
	}
}
.plan-card__info {
	color: $title_color;
}
.plan-card__title {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 3.2rem;
	line-height: 1;
}
.plan-card__text {
	font-size: 20px;
	line-height: 1.2;
	opacity: 0.7;
}
.carousel__slider {
	position: relative;
}
.slick-arrow {
	background: transparent;
}
.slick-arrow:focus {
	outline: none;
}
.main__slick-prev {
	position: absolute;
	bottom: 0;
	left: 15px;
}
.main__slick-next {
	position: absolute;
	bottom: 0;
	left: 75px;
}
.slick-list {
	margin-bottom: 100px;
}
.slick-dots {
    position: absolute;
    bottom: 60px;
    left: 15px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
	outline: none;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(90deg, #EB4778 0.42%, #335ECC 100%);
	border-radius: 50%;
	transition: width .2s ease;
}
.slick-dots .slick-active button{
	width: 64px;
	border-radius: 16px;
}
.slick-dots .slick-active:first-child {
	margin-right: 50px;
}
.slick-dots .slick-active:nth-child(2) {
	margin-right: 50px;
}
.carousel__title {
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: -0.05em;
	color: $title_color;
}
.carousel__text {
	font-size: 2rem;
	line-height: 2.8rem;
	color: $title_color;
	opacity: 0.7;
}
.carousel__image {
	margin-top: 2rem;
	img {
		width: 80%;
		height: auto;
	}
}
.services__title {
	margin-bottom: 6rem;
	font-weight: 600;
	font-size: 48px;
	line-height: 1;
	text-align: center;
	color: $title_color;
}
.services__card {
	display: flex;
	flex-direction: column;
	padding-bottom: 2.5rem;
	margin-bottom: 5rem;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
}
.services__card-header {
	display: flex;
	align-items: flex-end;
	padding: 0 7rem;
	height: 370px;
	border-radius: 5px 5px 0 0;
}
.card_1 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/card1.png");
	background-size: cover;
}
.card_2 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/card2.png");
	background-size: cover;
}
.card_3 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/card3.png");
	background-size: cover;
}
.card_4 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/card4.png");
	background-size: cover;
}
.card_5 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/card5.png");
	background-size: cover;
}
.card-header__title {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	line-height: 1.2;
	color: $title_color;
}
.services__card-body {
	padding: 2.5rem 7rem;
	background: #fff;
	border-radius: 5px;
	transform: translateY(-5px);
}
.card-body__text {
	font-size: 2rem;
	line-height: 1.2;
	color: $title_color;
}
.services__card-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: auto;
}
.card-footer__button {
	padding: 1.4rem 3rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	color: $title_color;
	background: transparent;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	text-align: center;
}
.card-footer__link {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	color: $title_color;
	opacity: 0.6;
	background: transparent;
	border-bottom: 1px solid transparent;
}
.terms {
	margin-bottom: 3rem;
}
.terms__title {
	margin-bottom: 6rem;
	font-weight: bold;
	font-size: 60px;
	line-height: 100%;
	text-align: center;
	color: $font_color;
}
.terms__card {
	padding: 2.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	border-radius: 5px;
	transition: box-shadow 0.5s ease;
}
.terms__card:hover,
.terms__card:focus {
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
}
.terms__card-title {
	margin-bottom: 4rem;
	font-size: 3.2rem;
	line-height: 1.5;
	text-align: center;
	color: $font_color;
}
.terms__card-button {
	margin-top: auto;
	padding: 1.4rem 6rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	color: $title_color;
    background: transparent;
    box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	text-align: center;
}
.add-conditions__card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 2.5rem;
	margin-bottom: 5rem;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
}
.add-conditions__card-header {
	display: flex;
	align-items: flex-end;
	padding: 0 2rem;
	height: 370px;
	border-radius: 5px 5px 0 0;
}
.dop_card1 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/dop_card1.png");
	background-size: cover;
}
.dop_card2 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/dop_card2.png");
	background-size: cover;
}
.dop_card3 {
	background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/dop_card3.png");
	background-size: cover;
}
.add-conditions__card-body {
	padding: 2rem;
	background: #fff;
	border-radius: 5px;
	transform: translateY(-5px);
}
.add-conditions__card-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: auto;
}
.feedback {
	margin-bottom: 11.5rem;
}
.feedback__title {
	margin-bottom: 5rem;
	font-weight: bold;
	font-size: 60px;
	line-height: 100%;
	text-align: center;
	color: $font_color;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-text {
	margin-bottom: 3rem;
	padding: 1.5rem 3rem;
	width: 100%;
	font-size: 20px;
	line-height: 28px;
	color: $title_color;
	background: $main_color;
	-webkit-appearance: none;
	-webkit-box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	transition: box-shadow 0.2s ease;
}
.input-text:hover {
	-webkit-appearance: none;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.25);
	-webkit-box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.25);
}
.input-text:focus {
	-webkit-appearance: none;
	box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.25), inset 0 0 0 2px rgba(77, 77, 77, 0.8);
	-webkit-box-shadow: 13px 15px 50px rgba(77, 77, 77, 0.25), inset 0 0 0 2px rgba(77, 77, 77, 0.8);
}
.input-text::placeholder { 
	color: rgba(0, 0, 0, 0.4);
}
.submit {
	padding: 1.4rem 7.5rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	color: $title_color;
    background: transparent;
    box-shadow: inset 0 0 0 3px #5D5EBD;
	border-radius: 5px;
	text-align: center;
	background: transparent;
	transition: .2s ease;
}
.submit:hover {
	transform: translateY(-5%);
	box-shadow: 0 0 35px -10px #5D5EBD, inset 0 0 0 3px #5D5EBD;
}
.policy__link,
.policy__link:visited  {
	border-bottom: 1px solid transparent;
	color: $title_color;
}
.policy__link:hover {
	color: $title_color;
	border-bottom: 1px solid #000;
}
.footer {
	margin-bottom: 7rem;
}
.footer__logo {
	margin-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
	.plan-card__image {
		margin-bottom: 3rem;
	}
	.add-conditions__card {
		max-width: 420px;
	}
}
@media screen and (max-width: 992px) {
	
}
@media screen and (max-width: 768px) {
	.buttons {
		justify-content: space-around;
	}
}
@media screen and (max-width: 375px) {
	header {
		padding: 3rem 0;
	}
	.logo {
		margin-bottom: 1.5rem;
	}
	.contacts {
		flex-direction: column;
	}
	.contacts {
		a + a {
			margin: 1.5rem 0;
		}
	}
	.main__left-screen {
		padding-top: 0;
	}
	.main__title {
		font-size: 3rem;
		margin-bottom: 3rem;
	}
	.main__subtitle {
		margin-bottom: 3rem;
		font-size: 2.5rem;
		line-height: 2.2rem;
	}
	.order {
		margin-right: 0;
		padding: .5rem 1rem;
		font-size: 2rem;
		line-height: 2.2rem;
	}
	.view {
		margin-left: 1rem;
		padding: .5rem 1rem;
		font-size: 2rem;
		line-height: 2.2rem;
	}
}